@model testing_net.Models.Views.MovieViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<hr />
@if (Model.Comments != null)
{
    <h4>
        @Html.DisplayNameFor(model => model.Comments)
    </h4>
    <table class="table">
        @foreach (var item in Model.Comments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
            </tr>
        }
        <td></td>
    </table>
    <br>
}
<input type="hidden" asp-for="ID" />
<form asp-controller="Movies" asp-action="Details" method="post">
    <textarea name="commentText" class="form-control" placeholder="Your comment..." rows="5" cols="50"></textarea>
    <br>
    <div class="form-group">
        <div class="co-md-10">
            <input type="submit" class="btn btn-default" value="Comment" />
        </div>
    </div>
</form>
<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
